# Global
/node_modules

###############
# SDK Package #
###############

# Typescript build
/packages/sdk/@fuse

# Typechain
/packages/sdk/src/abis/types

###################
# Example Package #
###################

/packages/example/.next
/packages/example/node_modules
