# Global
/node_modules
.env

###############
# Packages #
###############
/packages/**/dist

###################
# Example Package #
###################

/packages/example/.next
/packages/example/node_modules
